link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
link(href='home.css', rel='stylesheet')

div(class = 'container')
  div(class = 'jumbotron')
    h1 URL Shortener
    img(src='http://etc.usf.edu/clipart/36400/36459/ruler1_36459_lg.gif')
  h2 Instructions
  ol
    li Put a '/new/' on the end of this url and add a URL of your choosing
    ul
      li Make sure the URL follows the proper http format
      li Hit Enter
      li You will then see a shortened version of the provided URL in the format of this URL with a numbered parameter tacked on
      li Feel free to use as an API for your apps
      ul
        li Although, I have no idea why this would be of any use!
    